body {
  background: url(../pope-moysuh.jpg);
  background-size: 100%;
  background-position-y: 3rem;
}

footer {
  background: black;
  border-radius: 10px;
  text-align: center;
}
.items {
  background-color:#d2b48c;
}
h1 {
  color: #353332;
}

.btn-primary {
  background-color: black;
  border-color: black;
  font-size: 1rem;
  border-width:2px;
}
.btn-primary:hover {
  background-color: #e9ecef;
  border-color: #d2b48c;
  color: black;
}

.jumbotron {
  font-family: 'Varela Round', sans-serif;
}

.card {
  background-color: #94543C;
  border-color: #94543C;
  border-width:2px !important;
}

.border {
  border-width:2px !important;
}

.border-bottom {
  border-width:2px !important;
}

.jumbotron {
  padding: 2.5rem 2rem;
}

.card img {
  object-fit: cover;
  height:15rem;
}

div.mycard {
  width: 50%;
}

.topspace {
  font-family: 'Patua One', cursive;
}
.navbar-brand {
  font-family: 'Patua One', cursive;
}
@media (max-width: 575.98px) {
  .navbar-brand {
    width:75%;
  }
}

.navbar-brand span{
  font-family: sans-serif;
}
.icons {
  background-color: #d2b48c;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 1rem;
  margin-top: .75rem;
  margin-bottom: 1rem;
  padding: .5rem;
}

.icons p{
  margin: 0rem;
}

.fab {
  font-size: 2rem;
  color: black;
}
.far {
  font-size: 2rem;
  color: black;
}
.fas {
  font-size: 2rem;
  color: black;

}

.dropdown-item {
  /* Add styles for hover state */
  color: rgba(0,0,0,.5); /* Change the background color on hover */
}

.dropdown-item:hover {
  /* Add styles for hover state */
  color: black; /* Change the background color on hover */
}


@media (min-width: 575.98px) {
  h1 {
    font-size: 8rem;
  }
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 4rem
  }
  .badge {
    font-size: 60%;
  }
  .btn-primary {
    font-size: .75rem;
    }
}
@media (max-width: 318px) {
  h1 {
    font-size: 3.5rem
  }
  .navbar-brand {
    font-size: small;
    width: 60%;
  }
  .badge {
    font-size: 50%;
  }
  .btn-primary {
    font-size: .75rem;
    padding: .5rem;
  }
}

@media (max-width: 400px) {
  div.mycard {
    width: 100%;
  }
}